<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
<!--    <link rel="icon" type="image/png" href="/favicon.ico"/>-->
</head>
<body>
    <!--/*@thymesVar id="post" type="Post"*/-->
    <form th:object="${post}" th:action="@{/test}" enctype="multipart/form-data">
            File:
        <label for="upload">Upload Image:</label>
        <input type="file" th:field="*{image}"
               id="upload" name="upload"
               accept="image/png, image/jpeg, image/jpg">
        <input type="submit" value="save" name="action"/>
    </form>
    <h2>HELLOOOO</h2>
    <p>anderdogs</p>
</body>
</html>




